* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
input,
button {
    font-family: 'Noto Sans JP', sans-serif;
}

input,
button {
    font-size: 16px;
}

.icon-red {
    color: #CD0C0D;
}

header {
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #CD0C0D;
    color: white;
}

main {
    width: 90%;
    margin: 0 auto;
    padding: 16px;
    display: flex;
    flex-direction: row-reverse;
}

main>.search_container {
    flex-basis: 25%;
    margin-left: 16px;
}

main>.search_container>.search_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 16px 0;
}

main>.search_container>.search_section>form {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

main>.search_container>.search_section>form>input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ced4da;
}

main>.search_container>.search_section>form>button {
    background-color: #ff005f;
    color: white;
    border: 0;
    border-radius: 100px;
    cursor: pointer;
}


main>.input_bookshelf_container {
    flex-basis: 75%;
    margin-right: 16px;
    margin-top: 16px;
}

main>.input_bookshelf_container>h2 {
    text-shadow: #fff 1px 1px 0;
    color: #ff005f;
    background-image: url(../img/section-title.png);
    padding: 10px;
    font-size: 24px;
}

main>.input_bookshelf_container>p {
    margin-top: 16px;
}

main>.input_bookshelf_container>.input_section {
    padding: 16px;
    border: 1px solid #FF89B5;
    border-radius: 10px;
    margin: 16px 0 24px 0;
}

main>.input_bookshelf_container>.input_section>form>.input {
    margin: 8px 0;
}

main>.input_bookshelf_container>.input_section>form>button {
    background-color: #ff005f;
    color: white;
    border: 0;
    border-radius: 100px;
    display: block;
    width: 100%;
    padding: 8px;
    cursor: pointer;
}

main>.input_bookshelf_container>.input_section>form>button>span {
    font-weight: bold;
}

main>.input_bookshelf_container>.input_section>form>.input>input {
    display: block;
    width: 100%;
    padding: 8px;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

main>.input_bookshelf_container>.input_section>form>.input>label {
    color: #333;
    font-weight: 700;
}

main>.input_bookshelf_container>.input_section>form>.input_inline {
    margin: 12px 0;
    display: flex;
    align-items: center;
}

main>.input_bookshelf_container>.input_section>form>.input_inline>label {
    color: #333;
    font-weight: 700;
    margin-right: 10px;
}

main>.input_bookshelf_container>.bookshelf {
    display: flex;
}

main>.input_bookshelf_container>.bookshelf>.unread {
    margin-right: 16px;
}

main>.input_bookshelf_container>.bookshelf>.done_read {
    margin-left: 16px;
}

main>.input_bookshelf_container>.bookshelf>.book_shelf {
    margin-top: 24px;
    margin-bottom: 24px;
    border-radius: 10px;
    flex-basis: 50%;
}

main>.input_bookshelf_container>.bookshelf>.book_shelf>h2 {
    color: #ff005f;
    padding: 10px 0;
    text-align: center;
    background-color: #FF89B5;
    border-radius: 10px 10px 0 0;
    border-bottom: 2px solid #FF89B5;
    text-shadow: #fff 1px 1px 0;
}

main>.input_bookshelf_container>.bookshelf>.book_shelf>.book_list {
    border: 1px solid #FF89B5;
    border-radius: 0 0 10px 10px;
}

main>.input_bookshelf_container>.bookshelf>.book_shelf>.book_list>.book_item {
    padding: 8px 0 24px 0;
    margin: 16px 16px;
    border-radius: 5px;
    border-bottom: 1px dotted #FF89B5;
}

main>.input_bookshelf_container>.bookshelf>.book_shelf>.book_list>.book_item>h3 {
    text-decoration: underline;
}

main>.input_bookshelf_container>.bookshelf>.book_shelf>.book_list>.book_item>h3,
p {
    margin: 8px 0;
    color: #333;
}

main>.input_bookshelf_container>.bookshelf>.book_shelf>.book_list>.book_item>.action>button {
    border: 0;
    padding: 5px;
    margin: 0 5px 0 0;
    border-radius: 5px;
    cursor: pointer;
}

main>.input_bookshelf_container>.bookshelf>.book_shelf>.book_list>.book_item>.action>.green {
    background-color: #00ff37;
    color: white;
    border-radius: 100px;
    padding: 8px 16px;
}

main>.input_bookshelf_container>.bookshelf>.book_shelf>.book_list>.book_item>.action>.red {
    background-color: rgb(255, 41, 41);
    color: white;
    border-radius: 100px;
    padding: 8px 16px;
}

main>.about_mobile {
    display: none;
}


/* === ABOUT ME === */
.about_me_header {
    color: #ff005f;
    padding: 10px 0;
    text-align: center;
    background-color: #FF89B5;
    border-radius: 10px 10px 0 0;
    border-bottom: 2px solid #FF89B5;
    text-shadow: #fff 1px 1px 0;
}

.sub_about_me {
    border: 1px solid #FF89B5;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: 10px 10px 20px 10px;
    text-align: center;
}

.sub_about_me img {
    height: 100px;
    border-radius: 100%;
}

.sub_about_me .sub_about_me_name {
    margin-top: 7px;
    margin-bottom: -4px;
    color: #ff005f;
    font-size: 1.225rem;
}


/* === FOOTER === */
footer {
    background-color: #333;
    padding: 20px;
}

footer>p {
    color: white;
    text-align: center;
}

@media only screen and (max-width: 1200px) {
    .search_section form {
        grid-template-columns: auto;
    }

    .search_section form button {
        padding: 8px;
    }
}

@media only screen and (max-width: 900px) {
    main .about_mobile {
        display: block;
    }

    main {
        display: block;
    }

    main .search_container {
        margin-left: 0;
    }

    main .search_container .search_section form {
        grid-template-columns: 1fr 1fr;
    }

    main .search_container .about_me {
        display: none;
    }

    main .input_bookshelf_container {
        margin-right: 0;
    }

    main .input_bookshelf_container .bookshelf {
        display: block;
    }

    main .input_bookshelf_container .bookshelf .unread {
        margin-right: 0;
    }

    main .input_bookshelf_container .bookshelf .done_read {
        margin-left: 0;
    }
}